@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-sea-green {
  background-color: #d2f1f4;
}

.bg-hotpink {
  background-color: #cc4c9b;
}

.text-hotpink {
  color: #cc4c9b;
}

body, html {
  font-family: Fira Sans, sans-serif;
  colro: #4d4d4d;
}